/others/
/output/
/test_data/
/wandb_login/
/dataset/10_subdataset/all data/
/dataset/10_subdataset/processed/
/dataset/SMRT_test/
/dataset/SMRT_train/
/dataset/SMRT_test_demo_set.txt
/dataset/SMRT_test_set.csv
/dataset/SMRT_train_demo_set.txt
/dataset/SMRT_train_set.csv
/train.sh
/scripts/train_afp.sh
/train_backup.py
/scripts/train_bn_2.sh
/scripts/train_bn_readout_3.sh
/scripts/train_gat.sh
/scripts/train_gcn.sh
/scripts/train_gin.sh
/scripts/train_Kafp.sh
/scripts/train_mlp_1.sh
/scripts/train_mlp_1_24_32.sh
/数据处理和画图.py
/scripts/train_ab_seed_1.sh
/scripts/train_ab_seed_2.sh
/scripts/train_ab_seed_3.sh
/scripts/train_afp.sh
/scripts/train_bn_2.sh
/scripts/train_bn_readout_3.sh
/scripts/train_gat.sh
/scripts/train_gcn.sh
/scripts/train_gin.sh
/scripts/train_Kafp.sh
/scripts/train_mlp_1.sh
/scripts/train_mlp_1_24_32.sh
/result/SMRT_result/
/plot.py
